.button-container {
  display: inline-block;
  background: red;
  border-radius: 5px;
  padding: 10px;
  color: white;
  cursor: pointer;
}

.button-container:hover {
  background: rgb(182, 0, 0);
}

.button-container:active {
  background: rgb(138, 13, 13);
}