.button-container {
  border: 0;
  display: inline-block;
  background: red;
  border-radius: 5px;
  padding: 10px;
  color: white;
  cursor: pointer;
}

.disabled {
  opacity: 0.3;
}

.button-container:hover {
  background: rgb(182, 0, 0);
}

.button-container:active {
  background: rgb(138, 13, 13);
}